{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col"> Product Brand </th>
            <th scope="col"> Product Category </th>
        </tr>
    </thead>
    <tbody>

    {% for page in brand_list %}
        <tr>
            <td>{{ page.brand_name }}</td>
            <td>{{ page.brand_category }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
{% else %}
<a href="{% url 'register' %}">Register</a> or <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}