{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<table class="table table-light table-striped table-hover">

    <thead class="thead-dark">
        <tr>
            <th scope="col"> Ime </th>
            <th scope="col"> Prezime </th>
            <th scope="col"> Telefon </th>
            <th scope="col"> Imejl </th>
            <th scope="col"> Adresa </th>
            <th scope="col"> Datum/Vreme Prodaje</th>
            <th scope="col"> Napomena </th>
            <th scope="col"> Artikl/Cena/Prodavac </th>
        </tr>
    </thead>

    <tbody>
    {% for page in buyer_list %}
        <tr>
            <td>{{ page.first_name }}</td>
            <td>{{ page.last_name }}</td>
            <!-- <td>{{ page.phone }}</td> -->
            <td>Visible To The Seller</td>
            <td>{{ page.email }}</td>
            <!-- <td>{{ page.address }}</td> -->
            <td>Visible To The Seller</td>
            <td>{{ page.date_buyed }}</td>
            <!-- <td>{{ page.note }}</td> -->
            <td>Visible To The Seller</td>
            <td>{{ page.buyed_item }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>
{% endif %}
{% endblock %}