{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<table class="table table-light table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col"> First Name </th>
            <th scope="col"> Last Name </th>
            <th scope="col"> Phone Number </th>
            <th scope="col"> Email </th>
            <th scope="col"> Address </th>
            <th scope="col"> Date/Time Sold </th>
            <th scope="col"> Note </th>
            <th scope="col"> Item/Price/Seller </th>
        </tr>
    </thead>
    <tbody>

    {% for page in buyer_list %}
        <tr>
            <td>{{ page.first_name }}</td>
            <td>{{ page.last_name }}</td>
            <!-- <td>{{ page.phone }}</td> -->
            <td>Visible To The Seller</td>
            <td>{{ page.email }}</td>
            <!-- <td>{{ page.address }}</td> -->
            <td>Visible To The Seller</td>
            <td>{{ page.date_buyed }}</td>
            <!-- <td>{{ page.note }}</td> -->
            <td>Visible To The Seller</td>
            <td>{{ page.buyed_item }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
{% endif %}
{% endblock %}