{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col"> Categories </th>
        </tr>
    </thead>
    <tbody>

    {% for page in category_list %}
        <td class="list-group-item">{{ page.category_name }}</td>
    {% endfor %}

    </tbody>
</table>
{% else %}
<!--<a href="{% url 'register' %}">Register</a> or <a href="{% url 'login' %}">Login</a>-->
{% endif %}
{% endblock %}
