{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
  <style>
      .content {
        max-width: 500px;
        margin: auto;
      }
      </style>

      <br> <br> <br> <br>
      <div class="content">
          <ul>
              <h2 style="color:black background: black;"> Kontakt </h2> <br>
            <h6>
              <a style="color:white background: black;" href="https://www.facebook.com/deki90to"> Facebook </a> <br><br>
              <a style="color:white background: black;" href="https://www.instagram.com/dejan90to/?hl=en"> Instagram </a><br>
            </h6>
            <hr>
              <br>
              <h2> Posetite </h2><br>
          <h6>
              <a style="color:white background: black;" href="https://www.linkedin.com/in/dejan-jovanovic-0341b519a/"> LinkedIN </a> <br><br>
              <a style="color:white background: black;" href="https://github.com/deki90to"> Github </a> <br>
          </h6> <br> <hr>
      
          <h6> 📞  +381 61 677 38 28 </h6> <hr>
          </ul> <br>
  {% else %} 
<br> <br>
  <style>
    .content {
      max-width: 500px;
      margin: auto;
    }
    </style>
  <br><br>
      <div class="content">
          <ul>
              <h2 style="color:black background: black;"> Kontakt </h2> <br>
            <h6>
              <a style="color:white background: black;" href="https://www.facebook.com/deki90to"> Facebook </a> <br><br>
              <a style="color:white background: black;" href="https://www.instagram.com/dejan90to/?hl=en"> Instagram </a><br>
            </h6>
            <hr>
              <br>
              <h2>Visit Me On</h2><br>
          <h6>
              <a style="color:white background: black;" href="https://www.linkedin.com/in/dejan-jovanovic-0341b519a/"> LinkedIN </a> <br><br>
              <a style="color:white background: black;" href="https://github.com/deki90to"> Github </a> <br>
          </h6> <br> <hr>

          <h6> 📞  +381 61 677 38 28 </h6> <hr>
          </ul> <br>
  
  {% endif %}
{% endblock %}