{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<br>
<form class="form-group" method="post">
    {% csrf_token %}
    {{ form }}
    <ul>
    	<br>
        <h3>Are you sure you want to delete {{ object }} EU?</h3>
        <!-- <input type="submit" value="Confirm">  -->
        <br>
        <button class='btn btn-danger text-light'> YES </button> 
        <a href="{% url 'product' %}" class="btn btn-primary text-light"> NO </a>
    </ul>
</form>
{% endif %}
{% endblock %}