{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<br>
<form class="form-group" method="post">
    {% csrf_token %}
    {{ form }}
    <ul>
    	<br>
        <h4> Da li ste sigurni da zelite da obrisete <i><b>{{ object }}</b></i>?</h4>
        <!-- <input type="submit" value="Confirm">  -->
        <br>
        <button class='btn btn-danger text-light'> Da </button> 
        <a href="{% url 'product' %}" class="btn btn-primary text-light"> Ne </a>
    </ul>
</form>
{% endif %}
{% endblock %}