{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<table class="table table-light table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col"> Image </th>
            <th scope="col"> Name </th>
            <th scope="col"> Brand </th>
            <th scope="col"> Specs </th>
            <th scope="col"> Price </th>
            <th scope="col"> Seller Info </th>
            <th scope="col"> Buyer </th>
        </tr>
    </thead>
    <tbody>

    {% for page in productname_list %}
        <tr>
            <td>
                {% if page.product_picture %}
                    <img src="{{ page.product_picture.url }}">
                    <br>
                {% if request.user == page.user %}
                    <a href="{% url 'delete_item' page.pk %}" class="btn btn-sm btn-danger"> Delete </a>
                {% endif %}
                {% else %}
                    No Image
                    <br><br><br>
                    <a href="{% url 'delete_item' page.pk %}"> Delete </a>
                {% endif %}
            </td>
            <td>{{ page.product_name }}</td>
            <td>{{ page.product_brand }}</td>
            <td>{{ page.product_description }}</td>
            <td><br><b>{{ page.product_price }}</b>e</td>
            <td>
                Name: <br> <b> {{ page.user }} </b>
                    <br><br>
                Phone: <br> <b> {{ page.phone }}
                </b>
            </td>
            <td>{% if page.buyer %}
                <br>
                    {{ page.buyer }}
                {% else %}
                <br>
                    <b><a class="nav-link active" aria-current="page" href="{% url 'buyer-createview' %}"> Buy Now </a></b>
                {% endif %}
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
{% endif %}
{% endblock %}