{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<table class="table table-light table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col"> Image </th>
            <th scope="col"> Name </th>
            <th scope="col"> Brand </th>
            <th scope="col"> Specs </th>
            <th scope="col"> Price </th>
            <th scope="col"> Buyer </th>
        </tr>
    </thead>
    <tbody>

    {% for page in productname_list %}
        <tr>
            <td>
                {% if page.product_picture %}
                    <img src="{{ page.product_picture.url }}">
                {% else %}
                    No Image
                {% endif %}
            </td>
            <td>{{ page.product_name }}</td>
            <td>{{ page.product_brand }}</td>
            <td>{{ page.product_description }}</td>
            <td><br>{{ page.product_price }} (EU)</td>
            <td>{% if page.buyer %}
                <br>
                    {{ page.buyer }}
                {% else %}
                <br>
                    <b><a class="nav-link active" aria-current="page" href="{% url 'buyer-createview' %}"> Buy Now </a></b>
                {% endif %}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
{% endif %}
{% endblock %}