{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}


<br><br>
<center>
	{% if search %}
		<h4> You searched for "<b>{{ search }}</b>" </h4>
		<hr> <br>
		<ul>
		{% for product in products %}

			{% if product.ad_image %}

					<a href="{% url 'images_detailview' product.pk %}"><img src="{{ product.ad_image.url }}"></a> <br>
				Artikl: 
				<b>{{ product.product_name }}</b><br>
				Brend: 
				<b>{{ product.product_brand }}</b><br>
				Opis: 
				<b>{{ product.product_description }}</b><br>
				Datum postavljanja: 
				<b>{{ product.date_posted }}</b><br>
				Cena: 
				<b>{{ product.product_price }}e</b> <br>
				Prodavac: 
				<b>{{ product.user }} <br> {{ page.phone }}</b>
					<br>
					{% if product.buyer %}
						Kupac: <b>{{ product.buyer.first_name }} {{ product.buyer.last_name }}</b> <br>
					{% else %}
						<!-- {% if request.user != page.user %} -->
						<a href="{% url 'buyer-createview' %}" class="btn btn-outline-primary"> Kupi Odmah </a>
						<!-- {% endif %} -->
					{% endif %}

			{% endif %}
			
		{% endfor %}
		</ul>
		<br>
	{% else %}
		<h3> Nema rezultata </h3>
		<br><br>

		<div class="container">
			<form class="form-inline" method="POST" action="{% url 'search' %}">
			{% csrf_token %}
			<input class="form-control mr-sm-2" type="search" placeholder="Unesi pretragu" aria-label="Search" name="search">
			<br>
			<button class="btn btn-outline-primary my-2 my-sm-0" type="submit"> Pretrazi </button>
			</form>
		</div>
	{% endif %}
</center>


{% endif %}
{% endblock %}